* {
    box-sizing: border-box;
}
.spacer {
    flex-grow: 1;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(131, 134, 187);
    font-family: 'Exo', sans-serif;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-user-email {
    padding-right: 1em;
}
/* .navigation-menu { */
    /* border-style: solid;
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    border-width: thin;
    background-color: rgb(77, 90, 109);
    color: rgb(255,255,255); */
/* } */

.login-modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 181, 181, 0.5);
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* .logout-button {
    color: rgb(255,255,255);
} */
.hidden {
    display: none;
}
.login-main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 235, 241);
    align-items: center;
    padding-bottom: 40px;
    margin: 0 15%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 8px;
}
.close-login-modal-button {
    align-self: flex-end;
    background-color: white;
    margin: 0.4em;
    margin-bottom: 0;
}

.wrong-password {
    border: 1px solid red;
    color: red;
    padding: 4px;
}

.wrong-login-info {
    border: 1px solid red;
    color: red;
    padding: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-email {
    margin: 0.3em;
    padding-left: 10%;
}
.login-password {
    margin: 0.3em;
}
.login-submit-button {
    background-color: white;
    width: 10em;
    margin: 0.3em;
    align-self: center;
    margin-top: 7%;
    box-shadow: 10px;
    text-shadow: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.staples-form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.recipe {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}
.recipe-url {
    align-self: center;
}
.recipe-name {
    text-align: center;
}
.recipe-photo {
    width: auto;
    height: 9em;
    align-self: center;
    align-self: center;
}
.logo {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    margin: 0;
    color: #444444;
}
.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
}
.create-account-header {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.signup-email {
    margin: 0.5em;
}
.signup-password {
    margin: 0.5em;
}
.signup-submit-button {
    background-color: white;
    width: 10em;
    margin: 0.5em;
    align-self: center;
}
.back-to-login-window-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-to-login-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.back-to-login-button {
    width: 10em;
    margin: 0.3em;
    margin-bottom: 1em;
}
.signup-window-button-container {
    display: flex;
    flex-direction: column;
}
.signup-header {
    padding: 0 19%;
}
.signup-window-button {
    width: 10em;
    align-self: center;
}

/* .staples-container {
    margin-top: -90px;
    padding-top: 0;
    width: 100%;
    height: 440px;
    background-image: url(./fridge-open.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
} */

/* .edit-staples {
    margin: 0.3em;
} */

/* .edit-extras {
    margin: 0.3em;
} */
.all-ingredients-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center;
    padding: 0 10%; */
}

.staples-output, .extras-output {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1em;
    padding-left: 1em;
}

.staples-item-output, .extras-item-output {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
}

.ingredients-header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid lightblue;
    margin-bottom: 0;
    padding-left: 0.5em;
}

.heart {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: color 0.5s linear 0s;
    cursor: pointer;
}

.selected {
    color: red;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}


.recipe {
    background-color: rgb(204, 204, 203);
    width: 70%;
    height: 30;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #def5ff;
    box-shadow: 10px 10px 5px grey;
    border-radius: 8px;
    margin-bottom: 17px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fridge {
    height: 550px;
    width: auto;
    /* display: none; */
}

.staples-output {
    /* position: relative; */
    text-align: center;
}

/* Staple text appended to image */

/* Bottom second text */
.bottom-second {
    position: absolute;
    bottom: 193px;
    left: 73px;;
}

/* Top text */
.top {
    position: absolute;
    top: 103px;
    left: 78px;
}

/* Top second text */
.top-second {
    position: absolute;
    top: 153px;
    right: 164px;
}

/* Bottom text */
.bottom {
    position: absolute;
    bottom: 120px;
    right: 138px
}

/* Centered text */
.centered {
    position: absolute;
    top: 46%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.input-labels {
    padding-bottom: 10px;
    font-size: 0.9rem;
}

.staples-input, .extras-input {
    width: 83%;
    margin-right: 0;
}

.white {
    color: white;
}

/* styling for tablets */
@media (max-width: 420px) {
    .spacer {
        display: none;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .fridge {
        max-width: 445px;
    }
}

@media only screen and (min-width: 768px) {
    .login-email {
        padding-left: 6%;
    }
}

@media only screen and (min-width: 1024px) {
    .recipe-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }   

    .recipe {
        height: 445px
    }
}